{% extends 'bootstrap/base.html' %}


{% block title %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
                <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              {#  <a class="navbar-brand" href="{{ url_for('index') }}">Wongpool</a> #}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}"><h4>Home</h4></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('standings')  }}"><h4>Standings as of <mark><strong><em>{{lu}}</em></strong></mark></h4></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('ptt')  }}"><h4>Players->Teams</h4></a></li>
                    <li><a href="{{ url_for('hot')  }}"><h4>Who's Hot</h4></a></li>
                    <li><a href="{{ url_for('teams') }}"><h4>Teams</h4></a></li>
                    <li><a href="{{ url_for('players') }}"><h4>Players</h4></a></li>
                    <li><a href="{{ url_for('homers') }}"><h4>Homers</h4></a></li>
                </ul>
            </div>
         </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}</div>
<hr>
    <style>.eqi-container {display: flex; justify-content: space-between;}</style>
    <div class="eqi-container">
  <div>Wongpool.com Version 2.0</div><div>Last Update: {{ lu }}</div><div>Email <a href="mailto:webmaster@wongpool.com">webmaster@wongpool.com</a> with any questions or problems.</div>
    </div>
{% endblock %}


