{% extends "base.html" %}

{% block app_content %}
    <table class="table table-bordered table-responsive w-100 d-block d-md-table">
        <caption><p>{{ title }} in {{ month }}</p></caption>
        <tr>
            <th>Team Number</th>
            <th>Team</th>
            <th>Score This Month</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td class="text-center">{{row[0]}}</td>
            <td class="text-left">{{row[1]}}</td>
            <td class="text-center">{{row[2]}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}}