{% extends "base.html" %}

{% block app_content %}
<h1>Danny Wong Home Run Pool</h1>

<p class="lead">Welcome to the 2018 Danny Wong Pool.  This new website isn't finished yet, but it will be much better than last year's.
</p>

<div class="container-fluid">
<div class="row">
    <div class="col-xs-4"><strong><u>Winners by Month</u></strong></div>
    <div class="col-xs-4"><strong><u>Current Month Leaders</u></strong></div>
    <div class="col-xs-4"><strong><u>Overall Leaders</u></strong></div>
</div>
{%- for i in range(0,6) %}
<div class="row">
  <div class="col-xs-4">{{mstand[i]}}</div>
  <div class="col-xs-4">{{cstand[i]}}</div>
  <div class="col-xs-4">{{tstand[i]}}</div>
</div>
<br>
{% endfor %}
</div>
{% endblock %}}


