{% extends "base.html" %}

{% block app_content %}
    <table class="table table-bordered table-responsive w-100 d-block d-md-table">
        <caption><p><h2>Hottest Hitters in the Last 10 Days</h2></p></caption>
        <tr>
            <th>Player</th>
            <th>Last 10 Days</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td class="text-center">{{row[0]}}</td>
            <td class="text-left">{{row[1]}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}}