{% extends "base.html" %}

{% block app_content %}

    <table class="table table-bordered table-responsive w-100 d-block d-md-table no-gutters">
        <caption><p><h2>Teams By Player</h2></p></caption>
        <tr>
            <th>Player</th>
            <th>Teams</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td class="text-center col-xs-2">{{row[0]}}</td>
                <td>
<div class="container">
<ul class="list-inline no-gutters">
                    {% for team in row[1]  %}
{% if team != 'Null' %}
<div class="col-md-2">
                     <li class="list-inline-item list-group-item col-md-10 no-gutters">{{team}}</li>
                </div>
{% endif %}
    {% endfor %}
                    </ul>
                   </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}