{% extends "base.html" %}

{% block app_content %}
<style>.morelines {box-sizing:border-box; border-bottom: 2px solid lightgray }
.toplines {box-sizing:border-box; border-top: 3px solid black }
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
} </style>
<div class="container">
        <p><h2>Teams By Player</h2></p>
    <div class="row">
    <div class="col-sm-2"><strong>Player/Team Count</strong></div>
    <div class="col-sm-10"><strong>Teams</strong></div>
    </div>
    {% for row in rows %}
    <hr>
    <div class="row row-eq-height">
        <div class="col-sm-2 bg-primary"> {{row[0]}}: {{row[1]|length}}
            Team{% if row[1]|length > 1 %}s{% endif %}
        </div> {%set firstrow="" %}
        {% for col in row[1]|batch(4,"#") %}
        <div class="col-sm-2 bg-info morelines {{firstrow}}"> {{col[0]}} </div>
        {% if col[1]=="#" %} <div class="col-sm-2 {{firstrow}}"></div> {% else %}
        <div class="col-sm-2 bg-light morelines {{firstrow}}"> {{col[1]}} </div> {% endif %}
        {% if col[2]=="#" %} <div class="col-sm-2"></div> {% else %}
        <div class="col-sm-2 bg-info morelines {{firstrow}}"> {{col[2]}} </div> {% endif %}
        {% if col[3]=="#" %} <div class="col-sm-2 {{firstrow}}"></div> {% else %}
        <div class="col-sm-2 bg-light morelines {{firstrow}}"> {{col[3]}}</div>{% endif %}
        <div class="col-sm-2">  </div>
         {% if not loop.last %}
     {% set firstrow="" %}
    </div><div class="row row-eq-height"><div class="col-sm-2"></div>
         {% else %}
    <div class="row"><div class="col-sm-1"></div></div>
         {% endif %}
        {% endfor %}
           </div>
    {% endfor %}
</div>


{% endblock app_content %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>

