{% extends "base.html" %}
{% block app_content %}

<form action="" method="POST">
    <table class="table table-bordered table-responsive table-hover w-100 d-block d-md-table">
        <caption><h2><strong><em>Standings: </em></strong>Click On Any Header to Sort</h2></caption>
        <tr>
            <th style="text-align:center">{{form.rbtnno()}}</th>
            <th style="text-align:center">{{form.rbtnp()}}</th>
            <th style="text-align:center">{{form.rbtn1()}}</th>
            <th style="text-align:center">{{form.rbtn2()}}</th>
            <th style="text-align:center">{{form.rbtn3()}}</th>
            <th style="text-align:center">{{form.rbtn4()}}</th>
            <th style="text-align:center">{{form.rbtn5()}}</th>
            <th style="text-align:center">{{form.rbtn6()}}</th>
            <th style="text-align:center">{{form.rbtnt()}}</th>
        </tr>
        {%- for row in rows%}
                <tr>
                    <td class="text-left">{{ row[0]}} </td>
                    <td class="text-left">{{ row[1]}} </td>
                    <td class="text-left">{{ row[2]}} </td>
                    <td class="text-left">{{ row[3]}} </td>
                    <td class="text-left">{{ row[4]}} </td>
                    <td class="text-left">{{ row[5]}} </td>
                    <td class="text-left">{{ row[6]}} </td>
                    <td class="text-left">{{ row[7]}} </td>
                    <td class="text-left">{{ row[8]}} </td>
                </tr>
        {%- endfor %}
    </table>
</form>
{% endblock %}}