{% extends "base.html" %}
{% block app_content %}

<form action="" method="POST">
    <table class="table table-bordered table-responsive table-hover w-100 d-block d-md-table">
        <caption><h2><strong><em>Standings: </em></strong>Click On Any Header to Sort</h2></caption>
                <div button class="btn-group btn-group-justified">
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtnno()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtntm()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn1()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn2()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn3()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn4()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn5()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn6()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtnt()}}</button></th>
            </div>

        {%- for row in rows%}
                <tr>
                    <td class="text-left">{{ row[0]}} </td>
                    <td class="text-left">{{ row[1]}} </td>
                    <td class="text-left">{{ row[2]}} </td>
                    <td class="text-left">{{ row[3]}} </td>
                    <td class="text-left">{{ row[4]}} </td>
                    <td class="text-left">{{ row[5]}} </td>
                    <td class="text-left">{{ row[6]}} </td>
                    <td class="text-left">{{ row[7]}} </td>
                    <td class="text-left">{{ row[8]}} </td>
                </tr>
        {%- endfor %}
    </table>
</form>
{% endblock %}}