{% extends "base.html" %}
{% block app_content %}

<form action="" method="POST">
    <table class="table table-bordered table-responsive table-hover w-100 d-block d-md-table">
        <caption><h2><strong><em>Teams: </em></strong>Click On Any Header to Sort</h2></caption>

                           <div button class="btn-group btn-group-justified">
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtnno()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtntm()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn1()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn2()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn3()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn4()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn5()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtn6()}}</button></th>
            <th><button type="button" style="width:100%" role="group" class="btn-group">{{form.rbtnt()}}</button></th>
            </div>


        {%- for row in rows%}
            {%- if row.type=="Team" %}
                <tr>
                        <td class="text-left">{{ row.contents }} </td>
            {%- elif row.type=="Name" %}
                    <td colspan="8" class="text-left">{{ row.contents }}</td> </tr>
            {%- elif row.type=="Player" %}
                   <div id="x">     <tr><td>   </td><td class="text-left" > {{ row.contents }}</td>
            {%- elif row.type=="Month" %}
                        <td class="text-right"> {{ row.contents }}</td></div>
            {%- else %}
        <td class="text-right"> {{ row.contents }}</td></tr>
            {% endif %}
        {%- endfor %}
    </table>
</form>
{% endblock %}
